.about {
  padding-top: 40px;
  padding-bottom: 110px;
  padding-left: 185px;
}

.about h2 {
  @include heading-large;
  @include text-margin-0;
  margin-bottom: 18px;
}

.about p {
  @include text-margin-0;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 35px;
  }
}

@include respond-below($tablet) {
  .about {
    padding-top: 30px;
    padding-bottom: 83px;
    padding-left: 0;
  }

  .about h2 {
    margin-bottom: 25px;
  }

  .about__button {
    margin-top: 50px;
  }
}

@include respond-below($mobile) {
  .about {
    padding-bottom: 65px;
    background-image: none;
  }

  .about__content h2 {
    margin-bottom: 18px;
  }
}
