.about {
  padding-top: 33px;
  padding-bottom: 110px;
  padding-left: 183px;
  background-repeat: no-repeat;
  background-position: -28px 38px;
  background-image: url("../img/year-desktop@1x.png");
  background-size: 164px 317px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/year-desktop@2x.png");
  }
}

.about h2 {
  @include heading-large;
  @include text-margin-0;
  margin-bottom: 21px;
}

.about p {
  @include text-margin-0;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 40px;
  }
}

@include respond-below($tablet) {
  .about {
    padding-top: 28px;
    padding-bottom: 85px;
    padding-left: 187px;
    background-size: 182px 361px;
    background-position: -30px 26px;
  }

  .about h2 {
    margin-bottom: 25px;
  }

  .about p span {
    display: none;
  }
}

@include respond-below($mobile) {
  .about {
    padding-bottom: 65px;
    background-image: none;
    padding-left: 0;
  }

  .about__content h2 {
    margin-bottom: 18px;
  }
}
