.cta {
  padding: 96px 0 83px;
  background-color: $accent-color;
  background-image: url("../img/plane-desktop@1x.png"), url("../img/cta-big-triangles.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% - 350px) 40%, calc(50% - 450px) -60px;
  background-size: 511px 288px, 670px 641px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/plane-desktop@2x.png"), url("../img/cta-big-triangles.svg");
  }
}

.cta__wrap {
  padding: 0 120px;
}

.cta__content {
  margin-left: auto;
  width: calc(50% - 15px);
  color: $text-color-inverse;
}

.cta__title {
  @include heading-large;
  @include text-margin-0;
  margin-bottom: 7px;
}

.cta__subtitle {
  @include text-margin-0;
  margin-bottom: 49px;
}

@include respond-below($tablet) {
  .cta {
    padding: 83px 0 73px;
    background-image: none;
  }

  .cta__wrap {
    padding: 0 65px;
  }

  .cta__content {
    width: 100%;
  }
}

@include respond-below($mobile) {
  .cta {
    padding: 33px 0 41px;
  }

  .cta__wrap {
    padding: 0;
  }

  .cta__title {
    margin-bottom: 15px;
  }

  .cta__subtitle {
    margin-bottom: 25px;
  }
}
