.feedback {
  background-color: $accent-color;
  background-image: url("../img/plane-desktop@1x.png"), url("../img/feedback-big-triangles.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% - 353px) 42%, calc(50% - 450px) -60px;
  background-size: 511px 288px, 670px 641px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/plane-desktop@2x.png"), url("../img/feedback-big-triangles.svg");
  }
}

.feedback__content {
  margin-left: auto;
  padding: 91px 0 81px;
  width: calc(50% - 15px);
  color: $text-color-inverse;
}

.feedback h2 {
  @include heading-large;
  @include text-margin-0;
  margin-bottom: 10px;
}

.feedback p {
  @include text-margin-0;
  margin-bottom: 51px;
}

.feedback form {
  display: flex;
  flex-wrap: wrap;
}

@include respond-below($tablet) {
  .feedback {
    background-image: none;
  }

  .feedback h2 {
    margin-bottom: 16px;
  }

  .feedback p {
    margin-bottom: 53px;
  }

  .feedback__content {
    padding: 79px 65px;
    width: 100%;
  }
}

@include respond-below($mobile) {
  .feedback__content {
    padding: 33px 0 41px;
  }

  .feedback h2 {
    margin-bottom: 15px;
  }

  .feedback p {
    margin-bottom: 25px;
  }
}
