.footer {
  flex: 0 0 auto;
  color: rgba($cable-green, 0.5);
}

.footer__top {
  padding-top: 65px;
  padding-bottom: 57px;
  display: flex;
}

.footer__item-logo {
  width: 216px;
  flex-shrink: 0;
  margin-right: calc(10% - 1px);
}

.footer__logo {
  display: inline-flex;
  margin-bottom: 47px;
}

.footer__item-logo p {
  display: none;
}

.footer__bottom {
  border-top: 1px solid rgba($corduroy, 0.2);
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.footer__copyright {
  padding: 14px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__copyright span:first-of-type {
  margin-right: 74px;
}

.footer__copyright span + span {
  margin-right: 142px;
}

.footer__privacy-policy {
  position: relative;
  max-width: 225px;
  color: rgba($cable-green, 0.5);
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    transition: background-color $transition-duration;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: rgba($cable-green, 0.5);
    }
  }

  &:active {
    &::after {
      background-color: rgba($cable-green, 0.2);
    }
  }
}

.footer__copyright p {
  @include text-margin-0;
  margin-left: auto;
  max-width: 220px;
}

@include respond-below(1120px) {
  .footer__copyright span + span {
    margin-right: 52px;
  }
}

@include respond-below($tablet) {
  .footer__top {
    padding-top: 19px;
    padding-bottom: 0;
    flex-direction: column;
    overflow: hidden;
  }

  .footer__item-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 19px;

    &::after {
      position: absolute;
      content: "";
      left: calc(50% - 50vw);
      bottom: 0;
      width: 100vw;
      height: 1px;
      background-color: rgba($corduroy, 0.2);
    }
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__item-logo span {
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .footer__copyright {
    padding: 21px 25px 24px;
  }

  .footer__copyright span {
    display: none;
  }
}

@include respond-below($mobile) {
  .footer__top {
    padding-top: 46px;
  }

  .footer__item-logo {
    flex-direction: column;
    padding-bottom: 55px;

    &::after {
      display: none;
    }
  }

  .footer__logo {
    margin-bottom: 26px;
  }

  .footer__item-logo p {
    margin-left: 0;
    margin-bottom: 32px;
  }

  .footer__social {
    margin-left: 0;
  }


  .footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 28px 0 26px;
  }

  .footer__copyright p {
    margin-left: 0;
  }

  .footer__privacy-policy {
    margin-bottom: 21px;
  }
}
