.header-wrapper {
  background-color: $bg-color-primary;
  background-image: url("../img/promo-bg-desktop@1x.png"), url("../img/header-bg-desktop@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50vw + 71px) 250px, top;
  background-size: 705px 515px, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-bg-desktop@2x.png"), url("../img/header-bg-desktop@2x.jpg");
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 35px;
}

.header__logo {
  margin-right: 118px;
  flex-shrink: 0;

  img {
    display: block;
  }
}

.header__toggle {
  margin-right: 20px;
  color: $text-color-inverse;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    opacity: 0.8;
  }
}

.header__contacts {
  @include list-resetted;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  max-width: 426px;
  width: 100%;
}

.header__link {
  display: flex;
  align-items: center;
  color: $text-color-inverse;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;

    .header__link-icon {
      color: $text-color-inverse;
    }
  }
}

.header__link-icon {
  color: $accent-color;
}

.header__link-icon + .header__link-text {
  margin-left: 16px;
}

.header__button {
  flex-shrink: 0;
  margin-left: 49px;
}

@include respond-below($tablet) {
  .header-wrapper {
    background-image: url("../img/promo-bg-tablet@1x.png"), url("../img/header-bg-tablet@1x.jpg");
    background-position: right 113px, top;
    background-size: 260px 340px, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-tablet@2x.png"), url("../img/header-bg-tablet@2x.jpg");
    }
  }

  .header__wrap {
    padding-top: 20px;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__toggle {
    margin-left: auto;
    margin-right: 37px;
  }

  .header__contacts {
    width: auto;
    margin-left: 0;
  }

  .header__link-text {
    display: none;
  }

  .header__contacts-item {
    &:not(:last-child) {
      margin-right: 42px;
    }
  }

  .header__button {
    display: none;
  }
}

@include respond-below($mobile) {
  .header-wrapper {
    background-image: url("../img/promo-bg-mobile@1x.png"), url("../img/header-bg-mobile@1x.jpg");
    background-position: center 92px, top;
    background-size: 294px 220px, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-mobile@2x.png"), url("../img/header-bg-mobile@2x.jpg");
    }
  }

  .header__logo img {
    width: 52px;
    height: 52px;
  }

  .header__wrap {
    padding-top: 17px;
  }
}
