.header-wrapper {
  background-color: $bg-color-primary;
  background-image: url("../img/hero-bg-desktop@1x.png"), url("../img/header-bg-desktop@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50vw + 60px) center, center;
  background-size: 705px 515px, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-bg-desktop@2x.png"), url("../img/header-bg-desktop@2x.jpg");
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  padding-top: 33px;
}

.header__logo {
  margin-right: 118px;
  flex-shrink: 0;
}

.header__toggle {
  margin-right: 20px;
  color: $text-color-inverse;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    opacity: 0.8;
  }
}

.header__contacts {
  @include list-resetted;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  max-width: 440px;
  width: 100%;
}

.header__link {
  display: flex;
  align-items: center;
  color: $text-color-inverse;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;

    .header__link-icon {
      color: $text-color-inverse;
    }
  }
}

.header__link-icon {
  color: $accent-color;
}

.header__link-icon + .header__link-text {
  margin-left: 16px;
}

.header__button {
  flex-shrink: 0;
  margin-left: 38px;
}

@include respond-below($tablet) {
  .header__logo {
    margin-right: 0;
  }

  .header__toggle {
    margin-left: auto;
    margin-right: 37px;
  }

  .header__contacts {
    width: initial;
    margin-left: 0;
  }

  .header__link-text {
    display: none;
  }

  .header__contacts-item {
    &:not(:last-child) {
      margin-right: 33px;
    }
  }

  .header__button {
    display: none;
  }
}

@include respond-below($mobile) {
  .header__logo-image {
    width: 52px;
    height: 52px;
  }
}
