.services {
  background-color: $bg-color-primary;
}

.services h2 {
  @include heading-large;
  @include text-margin-0;
  padding-top: 88px;
  color: $text-color-inverse;
}

@include respond-below($tablet) {
  .services h2 {
    padding-top: 50px;
  }
}

@include respond-below($mobile) {
  .services h2 {
    margin-bottom: 37px;
  }
}
