.services {
  padding: 93px 0 127px;
  background-color: $bg-color-primary;
}

.services h2 {
  @include heading-large;
  @include text-margin-0;
  margin-bottom: 47px;
  color: $text-color-inverse;
}

@include respond-below($tablet) {
  .services {
    padding: 53px 0 78px;
  }
}

@include respond-below($mobile) {
  .services {
    padding: 53px 0 64px;
  }

  .services__title {
    margin-bottom: 37px;
  }
}
