@mixin list-resetted {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin respond-below($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin respond-between($lower-breakpoint, $upper-breakpoint) {
  @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
    @content;
  }
}
