@mixin list-resetted {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text-margin-0 {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin h2-heading {
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  font-family: $secondary-font;

  @include respond-below($tablet) {
    font-size: 32px;
    line-height: 45px;
  }

  @include respond-below($mobile) {
    font-size: 28px;
    line-height: 39px;
  }
}

@mixin respond-below($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin respond-between($lower-breakpoint, $upper-breakpoint) {
  @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
    @content;
  }
}
